body {
    width: 100vw;
    height: 100vh;
}

.login {
    width: 100%;
    height: 100%;
    background-position: center;
    background-position-y: 3px;
    background-image: url(../images/fondo-land-2.jpeg);
    margin: 0;
}

.form-label {
    font-weight: 500;
}

.register {
    width: 100%;
    height: 100%;
    background-position: center;
    background-position-y: 3px;
    margin: 0;
    background-color: #fafafa;
}

.container {
    min-height: 100%;
}

header {
    background-color: #01a4e4;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    box-shadow: 0px 7px 7px -6px gray;
}

header h2 {
    margin: 0 auto;
    width: min-content;
    color: white;
    text-shadow: 4px 4px 5px gray;
}

.menu {
    background-color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 7px 7px -6px gray;
}

.feed {
    max-height: 80%;
}

.time-text {
    font-size: small;
}



.btn-enter {
    background-color: #44C1F2;
    color: white;
}

#login-submit {
    margin-top: -15px;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}

#loading-section {
    display: inline-block;
}

.error-text {
    margin: 0;
    color: red;
}

.icon {
    color: #01a4e4;
    font-size: 30px;
    max-height: fit-content;
}

.card-icon {
    color: #01a4e4;
    font-size: 20px;
    max-height: fit-content;
}