body {
    width: 100vw;
}

.login {
    width: 100%;
    height: 100%;
    background-position: center;
    background-position-y: 3px;
    background-image: url(../images/fondo-land-2.jpeg);
    margin: 0;
    animation-duration: 30s;
    animation-name: zoom-in-out;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes zoom-in-out {
    0% {
       background-size: 150%; 
    }
    
    25% {
        background-size: 140%;
    }
    50% {
        background-size: 120%;
    }
    75% {
        background-size: 140%;
    }
    100% {
        background-size: 150%;
    }
}

.form-label {
    font-weight: 500;
}

.register {
    background-color: #fafafa;
}

.container {
    min-height: 100%;
}

header {
    background-color: #01a4e4;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    box-shadow: 0px 7px 7px -6px gray;
}

header h2 {
    margin: 0 auto;
    width: min-content;
    color: white;
    text-shadow: 4px 4px 5px gray;
}

.menu {
    background-color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 7px 7px -6px gray;
}

.feed {
    max-height: 80%;
}

.time-text {
    font-size: small;
}



.btn-enter {
    background-color: #44C1F2;
    color: white;
}

#login-submit {
    margin-top: -15px;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}

.invisible {
    display: none;
}

#loading-section {
    display: inline-block;
}

.error-text {
    margin: 0;
    color: red;
}

.icon {
    color: #01a4e4;
    font-size: 30px;
    max-height: fit-content;
}

.card-icon {
    color: #01a4e4;
    font-size: 20px;
    max-height: fit-content;
}

.interaction:hover {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
}

.icon-color {
    color: #01a4e4;
}

.info-required-fields {
    color: red;
    font-size: 13px;
}

.register-description {
    margin-top: -15px;
    color: gray;
}

.required {
    color: red;
}

.post-avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem !important;
    display: inline;
    overflow: hidden !important;
}

.results-image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem !important;
    display: inline;
    overflow: hidden !important;
}

.post-control {
    background-color: #20ace4;
    color: white;
    font-weight: bold;
}



.avatar-image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem !important;
    display: inline;
    overflow: hidden !important;
}

.publication-carousel {
    height: 15rem;
    overflow-y: hidden;
}

.share-alert {
    position: fixed;
    bottom: 10px;
    left: 17%;
    border-radius: 10px;
    border: solid black 1px;
    padding: 10px;
    background-color: white;
    width: fit-content;
}

.creation-account-successful {
    color: green;
}

.profile-header {
    width: 100%;
    text-align: center;
}

.avatar-container {
    width: 40%;
    height: 40%;
    margin: auto;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.general-info {
    background-color: #01a4e4;
    list-style-type: none;
    font-weight: bold;
    color: white;
}

.chats,
.btn-logout,
.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
    text-decoration: none;
    color: inherit;
}

.chats:hover {
    text-decoration: none;
    color: inherit;
}

#search-bar {
    max-width: 87%;
}

.chat {
    margin-left: 20px;
}



.chat-date {
    color: #01a4e4;
    margin-right: 15px;
}


.chat-body {
    border: solid 1px #fafafa;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}


.chat__form {
    background-color: #e0e0e0;
}

.chat-form {
    width: 75%;
    margin: 0 auto;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-chat-form {
    height: 40px;
    font-size: 16px;
    min-width: 90%;
    padding-left: 15px;
    background-color: #fff;
    border-radius: 15px;
    border: none;
}

.button-chat-form {
    width: 10%;
    height: 100%;
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.loading,
.modalMensaje {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.hidden {
    display: none !important;
}

.spinner-wrapper {
    font-size: 75px;
    color: #01a4e4;
}

.lds-dual-ring {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #01a4e4;
    border-color: #01a4e4 transparent #01a4e4 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.recomendations {
    display: none;
}

@media (min-width:1280px) {
    body {
        background-color: gray;
    }
    .container {
        background-color: white;
        width: 50%;
    }
    .posts {
        margin: auto;
        padding-bottom: 5px;
        width: 70%;
    }

    .publication-carousel {
        width: 80%;
        margin: auto;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .desktop-controls {
        margin: auto;
        width: 68%;
    }

    .general-info {
        width: 70%;
        margin: auto;
        margin-top: 5px;
    }

    .more-info {
        width: 70%;
        margin: auto;
        border-left: 2px solid rgb(204, 204, 204);
        border-right: 2px solid rgb(204, 204, 204);
        border-radius: 2px;
        padding-bottom: 5px;
    }

    .fa-arrow-alt-circle-right {
        display: none;
    }

    .posts input, .feed input {
        width: 100% !important;
    }

    .recomendations {
        display: inline-block;
        padding-top: 5px;
        padding-left: 5px;
        width: 45%;
    }

    .feed {
        width: 70%;
    }

    .share-alert {
        left: 30%;
    }
}