.login {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-position-y: 3px;
    margin: 0;
    background-image: url(../images/fondo-land-2.jpeg);
}

.form-label {
    font-weight: 500;
}

.register {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-position-y: 3px;
    margin: 0;
    background-color: #fafafa;
}

header {
    background-color: #01a4e4;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    box-shadow: 0px 7px 7px -6px gray;
}

header h2 {
    margin: 0 auto;
    width: min-content;
    color: white;
    text-shadow: 4px 4px 5px gray;
}

.btn-enter {
    background-color: #44C1F2;
    color: white;
}

#login-submit {
    margin-top: -15px;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}

#loading-section {
    display: inline-block;
}