body {
    width: 100vw;
}

.login {
    width: 100%;
    height: 100%;
    background-position: center;
    background-position-y: 3px;
    background-image: url(../images/fondo-land-2.jpeg);
    margin: 0;
}

.form-label {
    font-weight: 500;
}

.register {
    background-color: #fafafa;
}

.container {
    min-height: 100%;
}

header {
    background-color: #01a4e4;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    box-shadow: 0px 7px 7px -6px gray;
}

header h2 {
    margin: 0 auto;
    width: min-content;
    color: white;
    text-shadow: 4px 4px 5px gray;
}

.menu {
    background-color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 7px 7px -6px gray;
}

.feed {
    max-height: 80%;
}

.time-text {
    font-size: small;
}



.btn-enter {
    background-color: #44C1F2;
    color: white;
}

#login-submit {
    margin-top: -15px;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}

.invisible {
    display: none;
}

#loading-section {
    display: inline-block;
}

.error-text {
    margin: 0;
    color: red;
}

.icon {
    color: #01a4e4;
    font-size: 30px;
    max-height: fit-content;
}

.card-icon {
    color: #01a4e4;
    font-size: 20px;
    max-height: fit-content;
}

.info-required-fields {
    color: red;
    font-size: 13px;
}

.register-description {
    margin-top: -15px;
    color: gray;
}

.required {
    color: red;
}

.post-avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem !important;
    display: inline;
    overflow: hidden !important;
}

.results-image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem !important;
    display: inline;
    overflow: hidden !important;
}

.post-control {
    background-color: #20ace4;
    color: white;
    font-weight: bold;
}



.avatar-image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem !important;
    display: inline;
    overflow: hidden !important;
}

.publication-carousel {
    height: 15rem;
    overflow-y: hidden;
}

.share-alert {
    position: fixed;
    bottom: 10px;
    left: 17%;
    border-radius: 10px;
    border: solid black 1px;
    padding: 10px;
    background-color: white;
    width: fit-content;
}

.creation-account-successful {
    color: green;
}

.profile-header {
    width: 100%;
    text-align: center;
}

.avatar-container {
    width: 40%;
    height: 40%;   
    margin: auto; 
}

.avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.general-info {
    background-color: #01a4e4;
    list-style-type: none;
    font-weight: bold;
    color: white;
}

.chats, .btn-logout, .btn-logout:hover, .btn-logout:focus, .btn-logout:active {
    text-decoration: none;
    color: inherit;
}

#search-bar {
    max-width: 87%;
}

.chat {
    margin-left: 20px;
}

.chat-date {
    color: #01a4e4;
    margin-right: 15px;
}