.login {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-position-y: 3px;
    margin: 0;
    background-image: url(images/fondo-land.jpeg);
}

.register {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-position-y: 3px;
    margin: 0;
    background-color: RGB(250, 250, 250);
}

header {
    background-color: rgb(1, 164, 228);
    height: 40px;
    display: flex;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
}

header h2 {
    margin: 0 auto;
    width: min-content;
    color: white;
}